h2{
    color: rgb(38, 28, 220);
}

.guzel{
    /*color: blueviolet; */
/* styling Hook */
color: var( --textRengi , rgb(32, 216, 11));
    background-color: rgb(192, 216, 11);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    display: inline-block;
}